body {
    font:1em Helvetica, sans-serif;
}

h1 {
    margin-top:0;
}

#profile {
    border:4px solid #edd;
    background:#fee;
    padding:8px;
    margin-bottom:8px;
}

.content {
    border:4px solid #dde;
    background:#eef;
    padding:8px;
    width:60%;
    float:left;
    margin-bottom: 4px;
}

.topwrap {
    position:relative;
}
.meta {
    float: right;
    width: 200px;
    background: #d2691e;
}

.date {
    float: left;
    font-size: 18px;
    width: 200px;
    background: #fff8dc;
}

.text {
    padding: 10px;
    white-space: -moz-pre-wrap;
    width: 200px;
}

.image {
    float: left;
    padding: 30px;
    border:4px solid #dde;
}

.video {
    float: left;
    padding: 30px;
    border:4px solid #dde;
}