{%  extends "base.html" %}

{% block body %}

    <div id="profile">
        Treasure Island
        <div id="account">
    </div>

    <div id="content">
        <p>This page doesn't work.</p>
    </div>

{% endblock %}