{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    {% block header %}
    <title>TREASURE||ISLAND</title>
    <link rel="stylesheet" href="{% static "css/main.css" %}" type="text/css">
    {% endblock %}
</head>
<body>
    {% block body %}

    {% endblock %}
</body>
{% block afterbody %}{% endblock %}
</html>