{%  extends "base.html" %}

{% block body %}

    <div id="profile">
        <p>Welcome to Treasure Island.
    </div>

    {% for post in posts %}
        <div class="content">
            <div class="topwrap">
                <div class="meta">
                    {{ post.user.username }}
                    {% if post.caption %}
                        says:
                        <br>
                        <i>{{ post.caption }}</i>
                    {% endif %}
                </div>
                <div class="date">{{ post.postDt }}</div>
            </div>
            {% if post.text %}
                <div class="text">
                    <p>{{ post.text }}</p>
                </div>
            {% endif %}
            {% if post.imgThumbnail %}
                <div class="image">
                    <img alt="youre alting" src="data:image/jpeg;base64,{{ post.imgThumbnail }}" />
                </div>
            {% endif %}

            {% if post.vidUrl %}
                <div class="video">
                <iframe width="420" height="315" src="{{ post.vidUrl }}" frameborder="0" allowfullscreen></iframe>
                </div>
            {% endif %}

            {% if post.mp3Url %}
                <div class="text">
                    <a href="{{ post.mp3Url }}">sound</a>
                </div>
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}

{% block afterbody %}
<script type="text/javascript" src="http://mediaplayer.yahoo.com/js"></script>
{% endblock %}